missions/WWU - Gilneas - Main.txt
common/scripted_effects/Effect - Gilneas.txt
missions/WWU - Gilneas - Main.txt
missions/WWU - Gilneas - Corrupted path.txt
descriptor.mod
/\# Development/C\# Scripts/.vs
/\# Development/C\# Scripts/bin
/\# Development/C\# Scripts/obj
/\# Development/C\# Scratchpad/.vs
/\# Development/C\# Scratchpad/bin
/\# Development/C\# Scratchpad/obj
